
body {
        background-color: red;
        
      }
h1{
    color: blue

}
form {
    width: 600px;         
    margin: 0 auto;        
    border: 2px solid #333;
    padding: 20px;         
     
}

label {
    font-weight: bold;     
    font-size: 2rem;      
}





